.user{
    font-size: 16px;
    margin: 11px 0;
    color: #000000;
    font-weight: 600;
}
.cmenu-btn{
    font-size: 16px;
    text-transform: capitalize;
    .mat-icon{
        font-size: 20px;
    }
}

.n-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.77);
	z-index: 9999;
	overflow: hidden;
	.spinner-wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
	}
}